/* Put css styles for Dashboard view here */
#topLeft {
    width:50%;
    height:50%;
    float:left;
    text-align:center;
}
#topRight {
    width:50%;
    height:50%;
    float:left;
    text-align:center;
}
#bottomLeft {
    width:50%;
    height:50%;
    float:left;
    text-align:center;
}
#bottomRight {
    width:50%;
    height:50%;
    float:left;
    text-align:center;
}