/* Put css styles for IMList view here */
.leftContent {
    float: left;
    width: 65%;
    height:100%;
}

.rightContent {
    float:left;
    width:35%;
    height:100%;
}
#barChart {
    height: 98.5%;
    padding: 5px;
}
#pieChart {
    height: 98.5%;
    padding: 5px;
}